ansible-core==2.11.4
attrs==21.2.0
cffi==1.14.6
cryptography==3.4.8
iniconfig==1.1.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.0
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.4
pytest-testinfra==6.4.0
PyYAML==5.4.1
resolvelib==0.5.4
testinfra==6.0.0
toml==0.10.2
